language: node_js
node_js:
  - node
install:
  - npm ci
dist: trusty
script: npm test
before_deploy: npm install now --no-save
deploy:
  - provider: script
    script: now --token $NOW_TOKEN && now alias --token $NOW_TOKEN
    skip_cleanup: true
    on:
      master: true
